[Desktop Entry]
Encoding=UTF-8
Name=Anodos Core
Comment=Anodos P2P Cryptocurrency
Comment[de]=Verbinde mit dem Anodos peer-to-peer Netzwerk
Comment[fr]=Anodos, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Anodos, eşten eşe kriptografik sanal para birimi
Exec=ands-qt %u
Terminal=false
Type=Application
Icon=ands128
MimeType=x-scheme-handler/ands;
Categories=Office;Finance;
